body {
    background: rgb(120, 185, 18);
    background: linear-gradient(90deg, rgba(120, 185, 18, 1) 0%, rgba(99, 200, 0, 0.5) 100%);
    margin: 0;
    padding: 0;
}

.title {
    text-align: center;
}

.input_button {
    width: 120px;
    height: 75px;
    border-radius: 10px;
    background-color: coral;
    position: relative;
    left: calc(50% - 60px);
    font-size: 20px;
}

.input_button:hover {
    background-color: chocolate;
}

hr {
    background-color: black;
    border: 1px solid #000;
}

#input {
    width: 500px;
    height: 50px;
    font-size: 40px;
    position: relative;
    left: calc(50% - 250px);
    border-radius: 10px;
}

#input:hover {
    background-color: aquamarine;
}